<div class="ontario-alert ontario-alert--{{ class }}">
    {{#if icon}}
    <div class="ontario-alert__header">
        <div class="ontario-alert__header-icon">
            {{ render (append "@" icon) }}
        </div>
        {{/if}}
        <h2 class="ontario-alert__header-title ontario-h4">{{ title }}</h2>
    </div>
    <div class="ontario-alert__body">
        {{#if info}}
            {{#if en}}
                <p>ServiceOntario centres may issue either a blue licence plate or a white embossed ‘Yours to Discover’ licence
                    plate depending on availability. <a href="#">Learn more about replacing a licence plate</a>.</p>
            {{/if}}
            {{#if fr}}
                <p>Les centres ServiceOntario peuvent émettre une plaque d’immatriculation bleue ou une plaque «&nbsp;À découvrir&nbsp;» en relief, selon la disponibilité. <a href="#">Apprenez-en davantage sur le remplacement d’une plaque d’immatriculation</a>.</p>
            {{/if}}
        {{/if}}
        {{#if warning}}
            {{#if en}}
                <p>We are experiencing longer than normal wait times at this ServiceOntario centre. You can <a href="#">check out our Service Finder</a> to see if the service you need is offered online or at a different centre nearby.</p>
            {{/if}}
            {{#if fr}}
                <p>Nous avons des délais d’attente plus longs que la normale dans ce centre ServiceOntario. Vous pouvez <a href="#">consulter notre outil de recherche de services</a>. Vous pourrez ainsi savoir si le service recherché est offert en ligne ou dans un autre centre se trouvant à proximité.</p>
            {{/if}}
        {{/if}}
        {{#if success}}
            {{#if en}}
        <p>Please look out for an email confirmation with your receipt and order number. Your licence plate sticker
            should arrive in 2-4 weeks.</p>
            {{/if}}
            {{#if fr}}
                <p>Nous vous demandons de surveiller la réception de votre courriel de confirmation comprenant votre reçu et votre numéro de commande. L’autocollant de votre plaque d’immatriculation devrait vous parvenir dans un délai de 2 à 4 semaines.</p>
            {{/if}}
        {{/if}}
        {{#if error}}
            {{#if en}}
                <p>Errors were found on this page:</p>
                <ul>
                    <li><a href="#">Your license plate number must be a valid plate number</a></li>
                    <li><a href="#">The odometer reading must be a valid number</a></li>
                    <li><a href="#">The name field must not be empty</a></li>
                </ul>
            {{/if}}
            {{#if fr}}
                <p>Des erreurs ont été trouvées dans cette page&nbsp;:</p>
                <ul>
                    <li><a href="#">Le numéro de votre plaque d’immatriculation doit être un numéro valide</a></li>
                    <li><a href="#">La lecture de l’odomètre doit présenter un chiffre valide</a></li>
                    <li><a href="#">Le champ réservé au nom ne doit pas être vide</a></li>
                </ul>
            {{/if}}
        {{/if}}
    </div>
</div>
