/*
*  Global variables
*
*  Used across multiple components
*/
/* -------------------------------
    Global spacing variables
--------------------------------- */
/*
*  Global colour variables
*
*  1 - Greyscale colours
*  2 - System colours
*  3 - Accent colours
*    3.1 - Main
*    3.2 - Light
*    3.3 - Dark
*    3.4 - Callout backgrounds
*/
/*** 1 - Greyscale colours ***/
/*** 2 - System colours ***/
/*** 3 - Accent colours ***/
/* Main */
/* Light */
/* Dark */
/* callout backgrounds */
/* icon colours */
/*** 1 - Breakpoint sizes for media queries ***/
/* -------------------------------
    Global font-weight variables
--------------------------------- */
/* -------------------------------
    Global letter-spacing variables
--------------------------------- */
/* Rem calc function */
/* -------------------------------
    Global line-height variables
--------------------------------- */
/* -------------------------------
    Global typography variables
--------------------------------- */
/* -------------------------------
    Focus placeholder variables
--------------------------------- */
/* -------------------------------
    Focus placeholder
--------------------------------- */
.ontario-button:focus, .ontario-button:active {
  box-shadow: 0 0 0 4px #009ADB;
  outline: 4px solid transparent;
  transition: box-shadow 0.1s ease-in-out;
}

.ontario-button {
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: none;
  display: inline-block;
  font-size: 1.125rem;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  line-height: 1.5555555556;
  margin: 0 calc(1rem + 0.75rem) 1.5rem 0;
  min-width: 10rem;
  padding: 0.625rem 1.5rem;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
@media screen and (max-width: 40em) {
  .ontario-button {
    margin-right: 0;
    display: block;
    width: 100%;
  }
}
.ontario-button .ontario-icon {
  margin-right: 4px;
}

.ontario-button--primary {
  background-color: #0066CC;
  color: #FFFFFF;
}
.ontario-button--primary:hover {
  background-color: #00478F;
  color: #FFFFFF;
}
.ontario-button--primary:focus {
  background-color: #00478F;
  color: #FFFFFF;
  transition: background-color 0.2s ease-out, box-shadow 0.1s ease-in-out;
}
.ontario-button--primary:active {
  background-color: #002142;
  color: #FFFFFF;
  transition: background-color 0s, box-shadow 0.1s ease-in-out;
}
.ontario-button--primary:visited {
  color: #FFFFFF;
}

.ontario-button--secondary {
  background-color: #FFFFFF;
  border: 2px solid #0066CC;
  color: #0066CC;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.ontario-button--secondary:hover {
  background-color: #e0f0ff;
  border-color: #00478F;
  color: #00478F;
}
.ontario-button--secondary:focus {
  background-color: #e0f0ff;
  border-color: #00478F;
  color: #00478F;
  transition: background-color 0.2s ease-out, box-shadow 0.1s ease-in-out;
}
.ontario-button--secondary:active {
  background-color: #c2e0ff;
  border-color: #002142;
  color: #002142;
  transition: background-color 0s, box-shadow 0.1s ease-in-out;
}
.ontario-button--secondary:visited {
  color: #0066CC;
}

.ontario-button--tertiary {
  background-color: transparent;
  color: #0066CC;
  text-decoration: underline;
}
.ontario-button--tertiary:hover {
  background-color: #e8e8e8;
  color: #00478F;
  text-decoration: underline;
}
.ontario-button--tertiary:focus {
  background-color: #e8e8e8;
  color: #00478F;
  text-decoration: underline;
  transition: background-color 0.2s ease-out, box-shadow 0.1s ease-in-out;
}
.ontario-button--tertiary:active {
  background-color: #d1d1d1;
  color: #002142;
  text-decoration: underline;
  transition: background-color 0s, box-shadow 0.1s ease-in-out;
}
.ontario-button--tertiary:visited {
  color: #0066CC;
}