::-webkit-scrollbar {
    width: auto;
}

@media screen and (max-width: 40em) {
    ::-webkit-scrollbar {
        display: none;
    }
}

.fractal-homepage {
    padding: $spacing-0;
}

.fractal-homepage::before {
    display: block;
    content: "";
    width: 100%;
    height: 64rem;
    background-image: url('../icons/system/ds-supergraphic-element.svg');
    position: absolute;
    background-position-x: 49vw;
    background-repeat: no-repeat;
    background-size: 58rem;
    z-index: -1;

    @media screen and (max-width: $medium-breakpoint) {
        background-size: 50rem;
    }
}

.fractal-homepage .fractal-homepage-header__container {
    display: block;
    border-bottom: none;
    margin: $spacing-0 $spacing-0 $spacing-8;
    background-color: $ontario-colour-dark-teal;
    background-image: url('../icons/system/ds-supergraphic-element.svg');
    background-position-x: 49vw;
    background-size: 58rem;
    background-repeat: no-repeat;

    @media screen and (max-width: $medium-breakpoint) {
        background-size: 50rem;
    }
}

.fractal-homepage-header__container {
    width: 100%;
    max-width: 100%;
    padding: ($spacing-8*3.5) $spacing-0;

    @media screen and (max-width: $medium-breakpoint) {
        padding: ($spacing-8*2.5) $spacing-0;
    }
}

.fractal-homepage-header {
    padding: $spacing-0 $spacing-6;
    color: $ontario-colour-white;
}

.fractal-homepage-header .Document-title {
    color: $ontario-colour-white;
}

.fractal-homepage .Prose {
    padding-left: $spacing-6;
}

@media screen and (max-width: 73em) {
    .fractal-homepage-header__container + .Document-content .ontario-columns + .ontario-columns:last-child {
        float: none;
    }
}
