img + h2,
img + h3,
img + h4,
img + h5,
img + h6 {
    margin-top: 1rem;
}

dd {
    margin-inline-start: 2rem;
}

.Document {
    padding: 0 2rem 1.5rem 2rem;
}

.Document-header {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

.Prose .ontario-lead-statement {
    margin-top: 0;
}

.Prose table {
    font-size: 1rem;
}

.Prose .ontario-row {
    margin-left: -1rem;
}

//------------------------------------------------
//  These classes are used on the colours.md page
//------------------------------------------------
.fractal-table-scroll {
    overflow-x: auto;
}

// System background colours
.fractal-bg-link {
    background-color: $ontario-colour-link;
}

.fractal-bg-link--hover {
    background-color: $ontario-colour-link--hover;
}

.fractal-bg-link--active {
    background-color: $ontario-colour-link--active;
}

.fractal-bg-link--visited {
    background-color: $ontario-colour-link--visited;
}

.fractal-bg-secondary--hover {
    background-color: $ontario-colour-button-secondary--hover;
}

.fractal-bg-secondary--active {
    background-color: $ontario-colour-button-secondary--active;
}

.fractal-bg-tertiary--hover {
    background-color: $ontario-colour-button-tertiary--hover;
}

.fractal-bg-tertiary--active {
    background-color: $ontario-colour-button-tertiary--active;
}

.fractal-bg-alert {
    background-color: $ontario-colour-alert;
}

.fractal-bg-white {
    background-color: $ontario-colour-white;
}

.fractal-bg-alert-light {
    background-color: $ontario-colour-alert-light;
}

.fractal-bg-warning {
    background-color: $ontario-colour-warning;
}
.fractal-bg-warning-light {
    background-color: $ontario-colour-warning-light;
}

.fractal-bg-success {
    background-color: $ontario-colour-success;
}
.fractal-bg-success-light {
    background-color: $ontario-colour-success-light;
}

.fractal-bg-information {
    background-color: $ontario-colour-information;
}
.fractal-bg-information-light {
    background-color: $ontario-colour-information-light;
}

.fractal-bg-focus {
    background-color: $ontario-colour-focus;
}

// Special classes for colours.md presentation
.fractal-colour-circle {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin: 0;
}

.fractal-text-center {
    text-align: center;
}

.fractal-text-white {
    color: $ontario-colour-white;
}

.fractal-padding-left-8 {
    padding-left: $spacing-2;
}

.fractal-padding-right-8 {
    padding-right: $spacing-2;
}

.fractal-colour-outline {
    border: 1px solid $ontario-colour-black;
}

%fractal-icon {
    background-repeat: no-repeat;
    background-position: 0 3px;
    background-size: 1rem;
    margin-left: $spacing-1;
    padding: 0 $spacing-2;
}

.fractal-icon-alert {
    background-image: url("#{$icon-dir}/ontario-material-alert-48px--red.svg");
    @extend %fractal-icon;
}

.fractal-icon-success {
    background-image: url("#{$icon-dir}/ontario-material-success-48px--green.svg");
    @extend %fractal-icon;
}

//---------------------------------------------
// Layout
//---------------------------------------------
.fractal-image-row-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;

    img {
        margin: 0.25rem 0.15rem 0.25rem 0;
    }
}

dt.fractal-dt {
    font-size: 18px;
    font-weight: 700;
}

//---------------------------------------------
// Fractal component notes
//---------------------------------------------
.Frame-inner {
    position: static;
    height: auto;
}

.Pen {
    padding: 0 2rem 1.5rem 2rem;

    @media screen and (max-width: $medium-breakpoint) {
        padding: 0 1rem 1rem 1rem;
    }
}

.Document,
.Pen {
    margin-bottom: 1rem;
}

.Pen img,
.Prose img {
    max-width: 100%;
    white-space: no-wrap;
    margin-bottom: 1rem;
}

.fractal-component-notes {
    margin-top: 1.5rem;

    @media screen and (max-width: 31.25em) {
        margin-bottom: 2rem;
    }
}

.fractal-component-notes
    *:not(table):not(.fractal-table-scroll):not(hr):not(img),
.Prose *:not(table):not(.fractal-table-scroll):not(hr):not(.ontario-row):not(img):not(.ontario-lead-statement)
{
    max-width: 48rem;
}

.fractal-component-notes table,
.fractal-table-scroll table {
    width: 100%;
}

.fractal-component-notes thead,
.fractal-table-scroll thead {
    text-align: left;
}

.fractal-component-notes th,
.fractal-table-scroll th {
    background-color: #eaeaeb;
    border-bottom: 1px solid #eaeaeb;
    padding: 0.75em 0.5rem;
}

.fractal-component-notes tbody td,
.fractal-table-scroll tbody td {
    padding: 0.75em 0.5rem;
}

.fractal-component-notes tbody tr:nth-of-type(odd),
.fractal-table-scroll tbody tr:nth-of-type(odd) {
    background-color: #f6f6f6;
}

.fractal-component-notes tbody tr:nth-of-type(even),
.fractal-table-scroll tbody tr:nth-of-type(even) {
    background-color: #eaeaeb;
    border-bottom: 1px solid #eaeaeb;
}

.fractal-component-notes code,
.fractal-table-scroll code,
.Document code,
.code {
    font-family: monospace, monospace;
    border: 0.5px solid #cccccc;
    border-radius: 4px;
    background-color: #f2f2f2;
    color: #cd0000;
    font-size: 0.875em;
    font-weight: 400;
    padding: 0.15em;
}

.code {
    padding: 0.5em;
    width: 100%;

    @media screen and (min-width: 55em) {
        width: max-content;
    }
}

.fractal-table-scroll code {
    border: none;
    background: transparent;
}
