.Frame-body {
    flex-direction: row;
    overflow-y: auto;
}

@media (max-width: 31.24em) {
    [dir="ltr"] .Frame-body {
        margin-right: -240px;
    }
}

.Frame-inner {
    min-width: 0;
    width: 100%;
}

.Pen {
    padding: 0 2rem 1.5rem 2rem;

    @media screen and (max-width: $medium-breakpoint) {
        padding: 1.5rem 0;
    }
}

.Pen-header {
    margin-top: 1rem !important;
}

.Pen-previewLink:link,
.Pen-previewLink:visited,
.Pen-previewLink:hover,
.Pen-previewLink:active {
    color: $ontario-colour-black;
}
.Pen-previewLink svg:hover {
    fill: $ontario-colour-link--hover;
}

.Pen-previewLink svg {
    margin-bottom: 0.25rem;
    height: 2rem;
    width: 2rem;
    fill: $ontario-colour-link;
    opacity: 1;
}

.Pen-title {
    font-size: 2.5rem;
    letter-spacing: 0.04rem;
    color: $ontario-colour-black;
    font-style: normal;
    font-weight: 700;
    text-rendering: optimizeLegibility;
    line-height: 1.5;
    font-feature-settings: normal;
}

.Pen-header {
    margin: 2rem 0 1rem 0;
}

.Code {
    width: 100%;
}

.Code span,
.Code--lang-html pre,
.Code--lang-SCSS pre,
.Code--lang-CSS pre {
    white-space: break-spaces;
}

.Code--lang-html pre,
.Code--lang-SCSS pre,
.Code--lang-CSS pre {
    max-width: 100%;
}

.hljs-string {
    max-width: 100%;
    overflow-wrap: break-word;
}

.FileBrowser {
    width: 100%;
}

html {
    padding: 1rem;
}

html.has-js {
    padding: 0;
}

.fractal-iframe-code-section {
    position: relative;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.fractal-iframe-code-section p {
    color: #555;
    font-size: 1.25rem;
    position: absolute;
    top: 0;
    background: white;
    padding: 0 0.5rem 0 0;
    text-transform: capitalize;
    top: -2.3rem;
}

// iframe notes
.Browser-notes {
    background-color: white;
}

// frame collators
dt.fractal-dt {
    font-size: 18px;
    font-weight: 700;
}

//---------------------------------------------
// Fractal controls/panel
//---------------------------------------------
.Browser {
    position: static;
}

.Browser-tab,
.Browser-tabs {
    display: block;
    padding: 0;
    border: 1px solid rgba(83, 83, 99, 0.25);

    @media screen and (min-width: 40em) {
        display: flex;
    }
}

.Browser-tabs button {
    display: block;
    cursor: pointer;
    border-bottom: 3px solid white;
    padding: 0.4rem 0.75rem 0.5rem;

    @media screen and (min-width: 40em) {
        display: inline;
        padding: 0.75rem 0.75rem 0.875rem;
    }
}

.Browser-tab {
    border: none;
}

.Browser-tab button {
    padding: 0.75rem;
    width: 100%;

    @media screen and (max-width: 40em) {
        border-bottom: 1px solid rgba(83, 83, 99, 0.25);
    }
}

.Browser-tab:nth-of-type(even) {
    border-left: 1px solid rgba(83, 83, 99, 0.25);
    border-right: 1px solid rgba(83, 83, 99, 0.25);

    @media screen and (max-width: 40em) {
        border-left: none;
        border-right: none;
    }
}

@media screen and (max-width: 40em) {
    .Browser-tab:last-of-type button {
        border-bottom: none;
    }
}

.Browser-tab button {
    color: #0066cc;
    font-size: 1rem;
}

.Browser-tab button:hover {
    color: #00478f;
    border-bottom: 3px solid #eaeaeb;
}

.Browser-tab button:focus {
    color: #00478f;
    -moz-box-shadow: 0 0 0 4px #009adb inset;
    -webkit-box-shadow: 0 0 0 4px #009adb inset;
    box-shadow: 0 0 0 4px #009adb inset;
    outline: 4px solid transparent;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.Browser-tab.is-active button {
    color: #002142;
    border-bottom: 3px solid #001242;
}

.Browser-controls {
    box-shadow: none;
}

.Browser-panel {
    height: 300px;
    border: 1px solid rgba(83, 83, 99, 0.25);
    border-top: none;
}

.Pen-preview,
.Pen-info {
    margin: 0;
}

.Pen-info {
    border: none;
}

.Pen-preview {
    max-height: 300px;
    height: 300px;

    @media screen and (max-width: $small-breakpoint) {
        max-height: 100% !important;
    }

    @media screen and (max-width: 31.24em) {
        .Pen-preview {
            height: 100% !important;
        }
    }
}

.Preview {
    @media screen and (max-width: $small-breakpoint) {
        border: 1px solid rgba(83, 83, 99, 0.25);
    }
}

.Preview-wrapper {
    max-width: 100%;
    @media screen and (max-width: $small-breakpoint) {
        width: 100%;
    }
}

.Pen-info {
    @media screen and (max-width: 31.24em) {
        display: block;
    }
}
