.Tree-items,
.Browser-tabs {
    list-style: none;
    margin: 0;
    padding: 0;
}

.Tree-collectionLabel,
.Tree-entityLink {
    font-size: 1rem;
    margin-bottom: 0 !important;
}

.Tree-collectionLabel span::before {
    position: relative;
    top: 0;
    content: "";
}

[dir="ltr"] .Tree-collectionLabel span {
    padding-left: 0;
}

.Navigation-group {
    margin-top: 1.5rem;
}

.Tree-item {
    padding: 0;
}

.Tree-item a {
    padding-left: 1rem;
    padding-right: .5rem;
    display: inline-block;
    width: 98%;
}

.Tree-collectionLabel {
    display: block;
    width: 100%;
    text-decoration: none;
}

.Frame-panel--sidebar .Navigation {
    padding-top: 1rem;
}

// hide side nav when it is closed
.Frame.is-closed .Navigation {
    display: none;
}

.Tree-entityLink,
.Tree-collectionLabel {
    &:visited {
        color: $ontario-colour-link;
    }

    &:focus {
        -moz-box-shadow: 0 0 0 4px $ontario-colour-focus inset;
        -webkit-box-shadow: 0 0 0 4px $ontario-colour-focus inset;
        box-shadow: 0 0 0 4px $ontario-colour-focus inset;
    }
}

.Tree-collectionLabel:visited {
    color: rgb(83, 83, 99);
}

.Tree-aside {
    font-size: 0.8rem;
    margin: 0 1rem;
    opacity: 0.5;
}

.fractal-nav-menu,
.Tree-collectionItems {
    list-style-type: none;
    margin: 0;
}

.sidenav-status {
    display: inline-block;
    margin-left: 4px;
}

.Status-progress-mark {
    background-image: linear-gradient(to right,white 0%, white 50%,#92278F  25%, #92278F 100%);
    border: 2px solid #92278F;
    border-radius: 100%;
    width: 10px;
    height: 10px;
}

.Status-ready-mark {
    background-color: #367A76;
    border-radius: 100%;
    width: 10px;
    height: 10px;
}
