html {
    -webkit-font-smoothing: subpixel-antialiased;
}

.header-logo {
    margin: 0.5rem 1rem;
    width: 129px;

    @media screen and (min-width: 380px) {
        margin: 0.5rem 1rem;
    }

    @media screen and (min-width: 31.24em) {
        margin: 1rem 1rem;
    }
}

.Header {
    background-color: #1a1a1a;
    position: relative;

    @media screen and (max-width: 31.24em) {
        height: 7rem;
    }
}

.Header a {
    color: white;
    text-decoration: none;
}

.Header a:active {
    color: white;
}

.Header a:hover {
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

.Header a:focus {
    box-shadow: 0 0 0 4px #009adb;
    outline: 4px solid transparent;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

#Header-container {
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex: 100%;
    flex-direction: column;
    @media screen and (min-width: 588px) {
        flex-direction: row;
        align-items: center;
    }
}

#Header-right {
    display: flex;
    align-items: start;
    margin: 0 1rem;
    @media screen and (min-width: 380px) {
        align-items: center;
    }
}

.Header-title {
    font-weight: 700;
    display: flex;
    align-items: start;
    font-size: 1rem;
    padding: 4px;
    margin: 0 0 0 -4px;
    flex-direction: column;
    -webkit-font-smoothing: antialiased;

    @media screen and (min-width: 380px) {
        flex-direction: row;
        align-items: center;
    }

    @media screen and (min-width: 426px) {
        font-size: 1.25rem;
    }

    .ontario-tag--lime {
        margin: 0.5rem 0;
        @media screen and (min-width: 380px) {
            margin: 0.5rem 7px;
        }
    }
}

.Header-button:focus {
    box-shadow: 0 0 0 4px $ontario-colour-focus inset;
    outline: 4px solid transparent;
    transition: $ontario-focus-transition;
}

.Header-navToggle {
    height: 5rem;
}


.Header-title {
    letter-spacing: .02rem;
    line-height: 1.43;
}

@media screen and (max-width: 40em) {
    .Header-title {
        line-height: 1.39;
    }
}

.Header-title a {
    font-family: $ontario-font-raleway-modified;
    font-weight: 700;
}

.Header-title a:visited,
.Header-title a:active,
.Header-title a:hover {
    color: $ontario-colour-white;
}

.Header-navToggle svg {
    fill: $ontario-colour-white;
}

.fractal-lang-toggle {
    margin: 0.25rem 0 0 0.5rem;
    text-decoration: none;
}

.Header-pipe {
    color: #4a4f53;
}
