/*
*  Global variables
*
*  Used across multiple components
*/
/*
*  Global colour variables
*
*  1 - Greyscale colours
*  2 - System colours
*  3 - Accent colours
*    3.1 - Main
*    3.2 - Light
*    3.3 - Dark
*    3.4 - Callout backgrounds
*/
/*** 1 - Greyscale colours ***/
/*** 2 - System colours ***/
/*** 3 - Accent colours ***/
/* Main */
/* Light */
/* Dark */
/* callout backgrounds */
/* icon colours */
/* service ontario header colours */
/*** 1 - Breakpoint sizes for media queries ***/
/* -------------------------------
    Global font variables
--------------------------------- */
/* -------------------------------
    Global spacing variables
--------------------------------- */
.ontario-tag {
  border: none;
  border-radius: 12px;
  box-sizing: border-box;
  box-shadow: none;
  display: inline-block;
  font-size: 0.625rem;
  font-weight: 500;
  font-family: "Raleway Modified", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  padding: 0 0.75rem;
  text-align: center;
  text-decoration: none;
  background: #cccccc;
  color: #1a1a1a;
}
@media screen and (min-width: 40em) {
  .ontario-tag {
    font-size: 0.875rem;
  }
}

.ontario-tag--lime {
  background: #8DC63F;
}

.ontario-tag--gold {
  background: #CBA52E;
}

.ontario-tag--yellow {
  background: #FCAF17;
}

.ontario-tag--taupe {
  background: #C1B28F;
}