/*
*  Global variables
*
*  Used across multiple components
*/
/* -------------------------------
    Global spacing variables
--------------------------------- */
/*
*  Global colour variables
*
*  1 - Greyscale colours
*  2 - System colours
*  3 - Accent colours
*    3.1 - Main
*    3.2 - Light
*    3.3 - Dark
*    3.4 - Callout backgrounds
*/
/*** 1 - Greyscale colours ***/
/*** 2 - System colours ***/
/*** 3 - Accent colours ***/
/* Main */
/* Light */
/* Dark */
/* callout backgrounds */
/* icon colours */
/* service ontario header colours */
/*** 1 - Breakpoint sizes for media queries ***/
/* -------------------------------
    Global font-weight variables
--------------------------------- */
/* -------------------------------
    Global letter-spacing variables
--------------------------------- */
/* Rem calc function */
/* Pixel to REM Conversion */
/* -------------------------------
    Global line-height variables
--------------------------------- */
/* -------------------------------
    Global typography variables
--------------------------------- */
:root {
  --footer-expanded-supergraphic: url("../logos/footer-expanded-supergraphic-logo.svg");
}

/************************************************************
    The following styles up until the next comment for
    expanded footer specific styles are shared with the
    simple footer.

    Any style updates or additions will need to be
    replicated in the simple-footer.scss file as well.
************************************************************/
.ontario-footer {
  color: #FFFFFF;
  margin-top: 5rem;
  padding: 4rem 0;
}

.ontario-footer .ontario-columns *:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 40em) {
  .ontario-footer:not(.ontario-footer--default) .ontario-columns:first-child {
    margin-bottom: 3rem;
  }
  .ontario-footer .ontario-footer__expanded-bottom-section .ontario-columns:first-child {
    margin-bottom: 0;
  }
}

.ontario-footer__links-container {
  list-style: none;
  margin: 0 0 1rem 0;
}
@media screen and (min-width: 73em) {
  .ontario-footer__links-container {
    margin-bottom: 0.5rem;
  }
}

.ontario-footer__links-container--inline {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@media screen and (min-width: 40em) {
  .ontario-footer__links-container--inline {
    flex-direction: row;
  }
}

.ontario-footer__links-container li {
  padding: 0.25rem 0;
}

.ontario-footer__link {
  color: #FFFFFF;
  display: inline-block;
  padding: 0.5rem 0;
  margin: 0;
  text-decoration: underline;
}
.ontario-footer__link:hover, .ontario-footer__link:focus {
  text-decoration: none;
}
.ontario-footer__link:visited, .ontario-footer__link:active, .ontario-footer__link:hover {
  color: #FFFFFF;
}
@media screen and (min-width: 40em) {
  .ontario-footer__link {
    padding: 0;
    margin: 0 3rem 1rem 0;
  }
}

/*************************************
    Expanded footer specific styles
**************************************/
.ontario-footer p {
  max-width: 48rem;
  width: 100%;
}
.ontario-footer p a {
  color: #FFFFFF;
  font-weight: 600;
}
.ontario-footer p a:visited {
  color: #FFFFFF;
}
.ontario-footer p a:active {
  color: #e6e6e6;
}
.ontario-footer p a:focus, .ontario-footer p a:hover {
  text-decoration: none;
}

.ontario-footer__links-container--two-column-list {
  -webkit-column-count: 1;
     -moz-column-count: 1;
          column-count: 1;
  display: block;
  margin: 0;
}
@media screen and (min-width: 40em) {
  .ontario-footer__links-container--two-column-list {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
  }
  .ontario-footer__links-container--two-column-list .ontario-footer__link {
    padding: 0;
    margin: 0 1rem 1rem 0;
  }
}

.ontario-footer__links-container--social {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.ontario-footer__links-container--social .ontario-footer__link {
  background: transparent;
  border-radius: 45%;
  margin: 0 1rem 0.75rem 0;
  padding: 0;
  outline: none;
  height: 3.5rem;
  width: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ontario-footer__links-container--social .ontario-footer__link:hover, .ontario-footer__links-container--social .ontario-footer__link:focus {
  background-color: black;
}
.ontario-footer__links-container--social .ontario-footer__link:hover .ontario-icon, .ontario-footer__links-container--social .ontario-footer__link:focus .ontario-icon {
  fill: #FFFFFF;
}
@media screen and (min-width: 40em) {
  .ontario-footer__links-container--social .ontario-footer__link {
    height: 3rem;
    width: 3rem;
  }
}

.ontario-footer__links-container--social .ontario-footer__link .ontario-icon {
  fill: #FFFFFF;
  width: 36px;
  height: 36px;
}
@media screen and (min-width: 40em) {
  .ontario-footer__links-container--social .ontario-footer__link .ontario-icon {
    width: 32px;
    height: 32px;
  }
}

.ontario-button.ontario-footer__button {
  background-color: #1a1a1a;
  border: 2px solid #FFFFFF;
  border-color: #FFFFFF;
  color: #FFFFFF;
  margin-bottom: 2rem;
}
.ontario-button.ontario-footer__button:hover, .ontario-button.ontario-footer__button:focus {
  background-color: #4d4d4d;
}
.ontario-button.ontario-footer__button:active {
  background-color: #666666;
}

.ontario-footer__button + .ontario-footer__links-container {
  margin-top: 1.5rem;
}

.ontario-footer__expanded-top-section:before {
  background-image: var(--footer-expanded-supergraphic);
}

.ontario-footer.ontario-footer--expanded {
  padding-top: 0;
  background-color: #1a1a1a;
  border-bottom: 4px solid #4d4d4d;
}

.ontario-footer__expanded-top-section {
  background-color: #262626;
  padding: 4rem 0;
  position: relative;
}
.ontario-footer__expanded-top-section:before {
  background-color: #333333;
  background-repeat: no-repeat;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 165rem;
  background-position: calc(50vw - 125rem) -64rem;
}
@media screen and (min-width: 40em) {
  .ontario-footer__expanded-top-section:before {
    background-size: 250rem;
    background-position: calc(50vw - 195rem) -106rem;
  }
}
@media screen and (min-width: 73em) {
  .ontario-footer__expanded-top-section:before {
    background-size: 305rem;
    background-position: calc(50vw - 222rem) -160rem;
  }
}

.ontario-footer__expanded-top-section .ontario-footer__link {
  text-decoration: underline;
}
.ontario-footer__expanded-top-section .ontario-footer__link:hover, .ontario-footer__expanded-top-section .ontario-footer__link:focus {
  text-decoration: none;
}
.ontario-footer__expanded-top-section .ontario-footer__link:active {
  color: #e6e6e6;
}

.ontario-footer__expanded-top-section ul {
  margin-bottom: 0;
}

.ontario-expanded-footer__one-third-block {
  margin-bottom: 0;
}
.ontario-expanded-footer__one-third-block:first-of-type, .ontario-expanded-footer__one-third-block:nth-child(2) {
  margin-bottom: 3rem;
}
@media screen and (min-width: 40em) {
  .ontario-expanded-footer__one-third-block {
    margin-bottom: 0;
  }
  .ontario-expanded-footer__one-third-block:first-of-type {
    margin-bottom: 3rem;
  }
  .ontario-expanded-footer__one-third-block:nth-child(2) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 73em) {
  .ontario-expanded-footer__one-third-block {
    margin-bottom: 0;
  }
  .ontario-expanded-footer__one-third-block:first-of-type {
    margin-bottom: 0;
  }
}

.ontario-footer__expanded-bottom-section {
  background-color: #1a1a1a;
  padding-top: 4rem;
}