.ontario-application-subheader__heading {
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
  margin-bottom: 1rem;
  font-feature-settings: normal;
  font-family: "Raleway", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.ontario-application-subheader__heading {
  font-size: 1.25rem;
  letter-spacing: 0.03rem;
  line-height: 1.5;
  margin: 0 0 0.75rem 0;
}
@media screen and (min-width: 40em) {
  .ontario-application-subheader__heading {
    font-size: 1.5rem;
    letter-spacing: 0.0313rem;
    line-height: 1.5;
  }
}

.ontario-application-navigation a:focus, .ontario-application-navigation a:active {
  box-shadow: 0 0 0 4px #009ADB;
  outline: 4px solid transparent;
  transition: box-shadow 0.1s ease-in-out;
}

.ontario-header.ontario-application-header {
  height: 3.125rem;
  z-index: 5;
}

.ontario-application-header__logo,
.ontario-application-header__logo a,
.ontario-application-header__lang-toggle,
.ontario-application-subheader__container,
.ontario-application-subheader__menu-container,
.ontario-application-subheader__menu {
  display: flex;
}

.ontario-application-header__logo img {
  width: 100px;
  height: 25px;
}

.ontario-application-header__lang-toggle {
  justify-content: flex-end;
}
.ontario-application-header__lang-toggle a {
  font-size: 1rem;
  line-height: 1.375rem;
  height: auto;
  padding: 0.5rem 0.75rem;
}

.ontario-application-subheader {
  padding: calc(0.5rem + 0.75rem) 0;
  background-color: #404040;
  overflow: hidden;
  position: relative;
  z-index: 5;
}
@media screen and (min-width: 73em) {
  .ontario-application-subheader {
    z-index: 0;
  }
}
.ontario-application-subheader > .ontario-row {
  position: relative;
}

.ontario-application-subheader .ontario-header-button {
  visibility: visible;
}

.ontario-application-subheader .ontario-header-button,
.ontario-application-navigation .ontario-header-button {
  background-color: #4d4d4d;
}
.ontario-application-subheader .ontario-header-button .ontario-icon,
.ontario-application-navigation .ontario-header-button .ontario-icon {
  width: 2rem;
  height: 2rem;
  margin-bottom: 0;
}
.ontario-application-subheader .ontario-header-button:hover,
.ontario-application-navigation .ontario-header-button:hover {
  background-color: #666666;
}
.ontario-application-subheader .ontario-header-button:active,
.ontario-application-navigation .ontario-header-button:active {
  background-color: #1a1a1a;
}

.ontario-application-subheader__heading {
  margin-bottom: 0;
  max-width: 65%;
}
.ontario-application-subheader__heading a {
  color: #FFFFFF;
  font-weight: 600;
  text-decoration: none;
}
.ontario-application-subheader__heading a:hover, .ontario-application-subheader__heading a:active, .ontario-application-subheader__heading a:visited {
  color: #FFFFFF;
  text-decoration: underline;
}

.ontario-application-subheader__container {
  align-items: center;
  justify-content: space-between;
}

.ontario-application-subheader__menu {
  list-style: none;
  margin: 0;
  padding-left: 0;
  align-items: center;
}

.ontario-application-subheader__menu li {
  padding: 0;
  margin-left: 1rem;
}

.ontario-application-subheader__menu a {
  border-radius: 4px;
  color: #FFFFFF;
  display: block;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  height: 48px;
  line-height: 1.4375rem;
  padding: 0.75rem;
  text-decoration: none;
  white-space: nowrap;
}
.ontario-application-subheader__menu a.ontario-link--active {
  border-radius: 4px 4px 0 0;
  border-bottom: 4px solid #FFFFFF;
}
.ontario-application-subheader__menu a:hover {
  background-color: #666666;
}
.ontario-application-subheader__menu a:active {
  background-color: #1a1a1a;
}

.ontario-application-navigation {
  position: absolute;
  width: 100%;
}
@media screen and (min-width: 73em) {
  .ontario-application-navigation {
    position: relative;
    max-width: 72rem;
    width: auto;
    margin: 0 auto;
  }
}

.ontario-application-navigation .ontario-header-button {
  visibility: hidden;
  position: absolute;
  top: calc(-4rem + -0.25rem);
  right: 1rem;
  z-index: 6;
}

.ontario-application-navigation__container {
  background: white;
  position: absolute;
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out, visibility 0.1s ease;
  width: 100%;
  visibility: hidden;
  z-index: 4;
}
@media screen and (min-width: 73em) {
  .ontario-application-navigation__container {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    display: none;
    position: absolute;
    right: 1rem;
    top: calc(100% - 0.5rem);
    transition: none;
    min-width: 290px;
    max-width: 30%;
    z-index: 3;
  }
}

.ontario-application-navigation.ontario-navigation--open .ontario-application-navigation__container {
  visibility: visible;
  transform: translateY(0);
  transition: transform 0.4s ease-in-out;
}
@media screen and (min-width: 73em) {
  .ontario-application-navigation.ontario-navigation--open .ontario-application-navigation__container {
    transition: none;
    display: block;
  }
}

.ontario-application-navigation ul {
  list-style: none;
  padding: 0.5rem 0;
  margin: 0;
  border-bottom: 1px solid #cccccc;
}
@media screen and (min-width: 73em) {
  .ontario-application-navigation ul {
    border-bottom: none;
  }
}

.ontario-application-navigation li {
  border-top: 1px solid #cccccc;
  padding: 0;
}
.ontario-application-navigation li:last-of-type {
  border-bottom: 1px solid #cccccc;
}

.ontario-application-navigation a {
  color: #1a1a1a;
  display: block;
  font-weight: 600;
  text-decoration: none;
  padding: 0.75rem 1.5rem;
}
.ontario-application-navigation a:hover {
  text-decoration: underline;
  background-color: #e5e5e5;
}
.ontario-application-navigation a:active {
  text-decoration: underline;
  background-color: #cccccc;
}
.ontario-application-navigation a:focus, .ontario-application-navigation a:active {
  box-shadow: 0 0 0 4px #009ADB inset;
}
.ontario-application-navigation a.ontario-link--active {
  border-left: 6px solid #1a1a1a;
  background-color: #f2f2f2;
}
@media screen and (max-width: 73em) {
  .ontario-application-navigation a {
    padding: 0.75rem 2rem;
  }
}

.ontario-application-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  z-index: 2;
}

.ontario-application-navigation--open .ontario-application-navigation .ontario-header-button {
  visibility: visible;
}
.ontario-application-navigation--open .ontario-application-subheader .ontario-header-button {
  visibility: hidden;
}
@media screen and (max-width: 73em) {
  .ontario-application-navigation--open .ontario-application-subheader-menu__container {
    position: relative;
    z-index: 3;
  }
}
.ontario-application-navigation--open .ontario-application-overlay {
  display: block;
}
@media screen and (min-width: 73em) {
  .ontario-application-navigation--open .ontario-application-overlay {
    display: none;
  }
}