.ontario-header-navigation {
  position: fixed;
  top: 0;
  right: -20rem;
  width: 20rem;
  height: 100vh;
  max-height: 100%;
  background-color: #FFFFFF;
  border-left: 1px solid #cccccc;
  overflow-y: auto;
  z-index: 3;
  -webkit-transition: all 500ms ease 0s;
  transition: all 500ms ease 0s;
  visibility: hidden;
}
@media screen and (max-width: 20em) {
  .ontario-header-navigation {
    width: 15rem;
    right: -15rem;
  }
}
@media screen and (min-width: 40em) {
  .ontario-header-navigation {
    width: 22.5rem;
    right: -22.5rem;
  }
}
@media screen and (min-width: 73em) {
  .ontario-header-navigation {
    width: 25rem;
    right: -25rem;
  }
}

.ontario-header-navigation--is-ready[aria-hidden=false] {
  box-shadow: -8px 0px 24px 0px rgba(0, 0, 0, 0.4);
  right: 0;
}

.ontario-header-navigation__banner {
  background-color: #1a1a1a;
  color: #FFFFFF;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  font-size: 2rem;
  padding: 1rem;
}

.ontario-header-navigation__close-menu-button {
  border-radius: 4px;
  min-width: 2.5rem;
  margin: 0;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
.ontario-header-navigation__close-menu-button svg {
  font-size: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  margin: 0;
}
.ontario-header-navigation__close-menu-button:focus {
  outline: none;
  box-shadow: 0 0 0 4px #009ADB;
  background-color: #1a1a1a;
}

.ontario-header-navigation__menu-list {
  margin: 0;
  padding: 0.5rem 0;
  width: 20rem;
  overflow: auto;
  height: calc(100vh - 80px);
}
@media screen and (max-width: 20em) {
  .ontario-header-navigation__menu-list {
    width: 15rem;
  }
}
@media screen and (min-width: 40em) {
  .ontario-header-navigation__menu-list {
    width: 22.5rem;
  }
}
@media screen and (min-width: 73em) {
  .ontario-header-navigation__menu-list {
    width: 25rem;
  }
}

.ontario-header-navigation__menu-item {
  font-size: 1.125rem;
  list-style-type: none;
  padding: 0.25rem;
}

.ontario-header-navigation__menu-item a {
  display: block;
  padding: 0.5rem 2rem 0.5rem;
  color: #1a1a1a;
  text-decoration: none;
}
.ontario-header-navigation__menu-item a:hover {
  text-decoration: underline;
  background-color: #f2f2f2;
}
.ontario-header-navigation__menu-item a:focus, .ontario-header-navigation__menu-item a:active {
  background-color: #f2f2f2;
}

.ontario-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  z-index: 2;
}