/*
*  Global variables
*
*  Used across multiple components
*/
/* -------------------------------
    Global spacing variables
--------------------------------- */
/*
*  Global colour variables
*
*  1 - Greyscale colours
*  2 - System colours
*  3 - Accent colours
*    3.1 - Main
*    3.2 - Light
*    3.3 - Dark
*    3.4 - Callout backgrounds
*/
/*** 1 - Greyscale colours ***/
/*** 2 - System colours ***/
/*** 3 - Accent colours ***/
/* Main */
/* Light */
/* Dark */
/* callout backgrounds */
/* icon colours */
/* service ontario header colours */
/*** 1 - Breakpoint sizes for media queries ***/
/* -------------------------------
    Global font-weight variables
--------------------------------- */
/* -------------------------------
    Global letter-spacing variables
--------------------------------- */
/* Rem calc function */
/* Pixel to REM Conversion */
/* -------------------------------
    Global line-height variables
--------------------------------- */
/* -------------------------------
    Global typography variables
--------------------------------- */
/* -------------------------------
    Focus placeholder variables
--------------------------------- */
/* -------------------------------
    Focus placeholder
--------------------------------- */
.ontario-header-button:focus {
  box-shadow: 0 0 0 4px #009ADB;
  outline: 4px solid transparent;
  transition: box-shadow 0.1s ease-in-out;
}

/* -------------------------------
    Global font-size variables
--------------------------------- */
.ontario-header {
  position: relative;
  overflow: hidden;
  z-index: 5;
  background-color: #1a1a1a;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  height: 5.75rem;
}
.ontario-header .ontario-row {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.ontario-header svg {
  width: 2rem;
  height: 2rem;
  margin-bottom: 0;
}

.ontario-header__logo-container {
  height: 46px;
}

.ontario-header__logo-container a {
  display: inline-block;
  height: 100%;
}
.ontario-header__logo-container a:focus {
  box-shadow: 0 0 0 4px #009ADB;
}

.ontario-header__logo-container img {
  width: 45px;
  height: 46px;
}
@media screen and (min-width: 40em) {
  .ontario-header__logo-container img {
    width: 180px;
    height: 46px;
  }
}

/* Header search styles */
.ontario-header__search-container {
  position: relative;
  display: none;
}
@media screen and (min-width: 73em) {
  .ontario-header__search-container {
    display: flex;
  }
}
@media screen and (min-width: 40em) {
  .ontario-header__search-container {
    padding-right: 1rem;
  }
}

.ontario-header__search-input.ontario-input {
  border-width: 0;
  margin-bottom: 0;
  height: 48px;
  padding-left: 0.75rem;
  padding-right: 7.2rem;
}
.ontario-header__search-input.ontario-input:invalid + input[type=reset] {
  display: none;
}
.ontario-header__search-input.ontario-input:focus ~ .ontario-header__search-submit {
  background-color: #0066CC;
  color: #FFFFFF;
}
.ontario-header__search-input.ontario-input:focus ~ .ontario-header__search-submit:hover {
  background-color: #00478F;
  color: #FFFFFF;
}
.ontario-header__search-input.ontario-input::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
.ontario-header__search-input.ontario-input:invalid:focus {
  box-shadow: 0 0 0 4px #009ADB;
  -moz-box-shadow: none;
}
.ontario-header__search-input.ontario-input:invalid:not(:focus) {
  box-shadow: none;
  -moz-box-shadow: none;
}
@media screen and (min-width: 40em) and (max-width: 73em) {
  .ontario-header__search-input.ontario-input {
    padding-left: 1rem;
    padding-right: 6.4rem;
  }
}

.ontario-header__search-submit {
  border: 0;
  border-radius: 0 3px 3px 0;
  background-color: #f2f2f2;
  color: #1a1a1a;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 1.125rem;
  height: 100%;
  line-height: 1.56;
  position: absolute;
  right: 1rem;
  top: 0;
  cursor: pointer;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.ontario-header__search-submit:hover {
  background-color: #00478F;
  color: #FFFFFF;
}
.ontario-header__search-submit:focus {
  outline: none;
  box-shadow: 0 0 0 4px #009ADB;
  background-color: #00478F;
  color: #FFFFFF;
}
.ontario-header__search-submit:active {
  background-color: #002142;
  color: #FFFFFF;
}
.ontario-header__search-submit svg {
  margin-right: 0;
}

input[type=reset].ontario-header__search-reset {
  position: absolute;
  display: flex;
  align-items: center;
  top: 11px;
  right: 80px;
  height: 28px;
  width: 28px;
  color: black;
  margin: 0;
  padding: 0.5rem;
  background-image: url(../icons/ontario-icons-close.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}
input[type=reset].ontario-header__search-reset:focus {
  box-shadow: 0 0 0 4px #009ADB;
}

/* Header menu & language toggle & close search button styles */
.ontario-header__nav-right-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* Header buttons */
.ontario-header-button {
  background-color: #1a1a1a;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: none;
  color: #FFFFFF;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  font-weight: 600;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 48px;
  line-height: 1.5555555556;
  text-align: center;
  text-decoration: none;
}
.ontario-header-button:hover, .ontario-header-button:focus, .ontario-header-button:visited {
  color: #FFFFFF;
}

.ontario-header-button--with-outline,
.ontario-header-button--without-outline {
  background-color: #1a1a1a;
  color: #FFFFFF;
}
.ontario-header-button--with-outline:hover,
.ontario-header-button--without-outline:hover {
  background-color: #4d4d4d;
}
.ontario-header-button--with-outline:active,
.ontario-header-button--without-outline:active {
  background-color: #666666;
}
.ontario-header-button--with-outline:focus,
.ontario-header-button--without-outline:focus {
  background-color: #4d4d4d;
}

.ontario-header-button--with-outline {
  border: 2px solid #FFFFFF;
  margin: 0 0 0 1rem;
  padding: 0.375rem 1rem;
}
.ontario-header-button--with-outline:hover {
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
}
.ontario-header-button--with-outline:focus {
  background-color: #4d4d4d;
}
@media screen and (max-width: 20em) {
  .ontario-header-button--with-outline {
    padding: 0.375rem;
  }
}

.ontario-header-button--without-outline:focus {
  background-color: #4d4d4d;
}

.ontario-header__menu-toggler {
  padding: 0.375rem 1rem;
}
@media screen and (max-width: 20em) {
  .ontario-header__menu-toggler {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
.ontario-header__menu-toggler span {
  display: flex;
}
@media screen and (max-width: 20em) {
  .ontario-header__menu-toggler span {
    display: none;
  }
}
.ontario-header__menu-toggler svg {
  margin-right: 6px;
  width: 2rem;
  height: 2rem;
}
@media screen and (max-width: 20em) {
  .ontario-header__menu-toggler svg {
    margin-right: 0;
  }
}

.ontario-header__language-toggler {
  padding: 0.75rem;
}
.ontario-header__language-toggler abbr[title] {
  text-decoration: none;
}

.ontario-header__search-toggler {
  padding: 0.5rem 0.75rem;
  margin-left: 1rem;
}
@media screen and (min-width: 40em) {
  .ontario-header__search-toggler svg {
    margin-right: 4px;
  }
}

.ontario-header__search-close {
  flex-direction: column-reverse;
  font-weight: 400;
  margin-right: 1rem;
  padding: 0.15rem 0.25rem;
  position: relative;
  height: 60px;
  display: none;
}
.ontario-header__search-close span {
  position: relative;
  top: -3px;
  font-size: 1rem;
  margin-left: 0;
}
@media screen and (min-width: 39.9375em) {
  .ontario-header__search-close span {
    margin-right: 4px;
  }
}
.ontario-header__search-close span:hover, .ontario-header__search-close span:focus {
  outline: none;
  text-decoration: none;
}
.ontario-header__search-close svg {
  top: 0;
}
@media screen and (min-width: 40em) {
  .ontario-header__search-close {
    flex-direction: row;
    padding: 0.25rem 0.5rem 0.25rem 1rem;
    height: 48px;
  }
  .ontario-header__search-close span {
    top: 0;
  }
  .ontario-header__search-close svg {
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
  }
}

@media screen and (min-width: 73em) {
  .ontario-header--search-open .ontario-header__search-close {
    display: none;
  }
}

.ontario-header__search-close-container {
  display: none;
  justify-content: flex-end;
  padding-right: 0;
}
@media screen and (max-width: 40em) {
  .ontario-header__search-close-container {
    width: auto;
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 73em) {
  .ontario-header--search-open .ontario-header__logo-container,
.ontario-header--search-open .ontario-header__nav-right-container {
    display: none;
  }

  .ontario-header--search-open .ontario-header__search-close-container,
.ontario-header--search-open .ontario-header__search-container,
.ontario-header--search-open .ontario-header__search-close {
    display: flex;
  }
}
.ontario-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  z-index: 2;
}

.ontario-navigation--open .ontario-overlay {
  display: block;
}
@media screen and (min-width: 73em) {
  .ontario-navigation--open .ontario-overlay {
    display: none;
  }
}

.ontario-navigation--open .ontario-navigation .ontario-header-button {
  visibility: visible;
}