@import '../variables/typography.variables.scss';
@import '../../../../../components/basics/_spacing/spacing.scss';

/**
 * Mixin for ontario-image-example-container
 * Create different type of container headings
 * $type can be header, do, or dont
 */
@mixin ontario-image-example-container($type: header) {
	@if $type == header {
		@extend %h4-styles;
		color: $ontario-colour-information;
	} @else {
		@extend %h5-styles;
		@if $type == do {
			color: $ontario-colour-success;
		} @else if $type == info {
			color: $ontario-colour-information;
		} @else {
			color: $ontario-colour-alert;
		}
	}
}

/**
 * Mixin for ontario-image-example-container-hr
 * Create ruler based on $colour
 * $colour can be any valid colour
 */
@mixin ontario-image-example-container-hr($colour) {
	border-bottom: 4px solid $colour;
}
