@import '../tools/common.mixins.scss';
@import '../tools/image-example-container.mixins.scss';
@import '../variables/colours.variables.scss';
@import '../variables/global.variables.scss';
@import '../variables/typography.variables.scss';
@import '../variables/12col-grid.variables.scss';

/* everything - including before and after - should inherit their box sizing */
*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-size: 16px;
	line-height: 1.6;
	background-color: $ontario-colour-white;
	color: $ontario-colour-black;
	margin: 0;
}

main p,
main p:not(.ontario-lead-statement),
main dd,
main li {
	max-width: $standard-width;
}

hr {
	border: 0;
	padding: 0;
	margin: 2.5rem 0;
	border-bottom: 4px solid #cccccc;
}

/* -------------------------------
        Typography
--------------------------------- */
a {
	color: $ontario-colour-link;
	text-decoration: underline;

	&:visited {
		color: $ontario-colour-link--visited;
	}

	&:hover {
		color: $ontario-colour-link--hover;
	}

	&:active {
		color: $ontario-colour-link--active;
	}

	&:focus {
		-moz-box-shadow: 0 0 0 4px $ontario-colour-focus;
		-webkit-box-shadow: 0 0 0 4px $ontario-colour-focus;
		box-shadow: 0 0 0 4px $ontario-colour-focus;
		outline: 4px solid transparent;
		transition: all 0.1s ease-in-out;
	}
}

​p {
	margin: 0 0 1.5rem 0;
}

​p + h1,
p + h2,
p + h3,
p + h4,
p + h5,
p + h6,
ul + h1,
ul + h2,
ul + h3,
ul + h4,
ul + h5,
ul + h6,
ol + h1,
ol + h2,
ol + h3,
ol + h4,
ol + h5,
ol + h6,
h1 + h2,
h2 + h3,
h3 + h4,
h4 + h5,
h5 + h6 {
	margin-top: 2rem;
}

/* -------------------------------
        Forms
--------------------------------- */
input[type='text'],
input[type='number'],
input[type='email'],
input[type='date'],
input[type='color'],
input[type='search'],
input[type='tel'],
textarea {
	background-origin: initial;
	height: auto;
	-webkit-appearance: none;
	-moz-appearance: none;
}

input[type='checkbox'] + label,
input[type='radio'] + label {
	font-family: $ontario-font-open-sans;
	font-size: 1rem;
	font-weight: 400;
	margin-left: 0;
	margin-right: 0;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
	page-break-inside: avoid;
}

legend,
label {
	display: block;
	margin: 0;
}

select {
	background-origin: initial;
	height: auto;
	-webkit-appearance: none;
	-moz-appearance: none;
}

​.ontario-lead-statement {
	line-height: 1.6;
}

/* -------------------------------
        Lists
--------------------------------- */
ul,
ol {
	padding: 0;
}

ul {
	margin-left: 2rem;
}

ul li {
	padding: 0 0 0.75rem 0;
}

ol {
	margin-left: 1.75rem;
}

ol li {
	padding: 0 0 0.75rem 0.25rem;
}

ul li:last-child,
ol li:last-child {
	padding-bottom: 0;
}

ul ul,
ol ul {
	margin: 0.5rem 0 0.5rem 2rem;
}

ul ol,
ol ol {
	margin: 0.5rem 0 0.5rem 1.75rem;
}

p + ul,
p + ol {
	margin-top: -0.75rem;
}

@media screen and (min-width: 40em) {
	ul {
		margin: 0.5rem 0 1.5rem 3rem;
	}

	ol {
		margin: 0.5rem 0 1.5rem 2.75rem;
	}

	ul ul,
	ol ul {
		margin: 0.5rem 0 0.5rem 3rem;
	}

	ul ol,
	ol ol {
		margin: 0.5rem 0 0.5rem 2.75rem;
	}
}

/* move this */
hr.dark {
	border-bottom: 4px solid #1a1a1a;
}

/**
 * -------------------------------
 *     Markdown Example Images
 * -------------------------------
 */

.ontario-image-example .ontario-row .ontario-columns:first-child {
	@include ontario-spacing-important(padding, left, $spacing-0);

	@media screen and (max-width: $small-breakpoint) {
		padding: inherit;
	}
}

.ontario-image-example .ontario-row .ontario-columns:last-child {
	@include ontario-spacing-important(padding, right, $spacing-0);

	@media screen and (max-width: $small-breakpoint) {
		padding: inherit;
	}
}

.ontario-image-example-container {
	background-color: $ontario-colour-markdown-image-background;
	padding: $spacing-0 $spacing-4 $spacing-6 $spacing-4;

	@media screen and (min-width: $small-breakpoint) {
		padding: $spacing-0 $spacing-5 $spacing-6 $spacing-5; // 0 24px 32px 24px
	}
}

/**
 * The `40` numeric value is used here instead of the equivalent spacing variable because the mixin needs
 * the exact numeric value to populate the class name
 */
.ontario-image-example-container.ontario-image-example-container__margin {
	@include ontario-spacing-important(margin, bottom, 40);
}

/**
 * The `24` and `16` numeric values are used here instead of the equivalent spacing variables because the mixin needs
 * the exact numeric value to populate the class name with `$spacing-0` being the only exception
 */
.ontario-image-example-container__header {
	@include ontario-spacing-important(padding, top, 24);
	@include ontario-spacing-important(padding, bottom, 16);
	@include ontario-spacing-important(margin, bottom, $spacing-0);
}

.ontario-image-example-container__header--default {
	@include ontario-image-example-container(header);
}

.ontario-image-example-container__header--do {
	@include ontario-image-example-container(do);
}

.ontario-image-example-container__header--dont {
	@include ontario-image-example-container(dont);
}

.ontario-image-example-container__header--info {
	@include ontario-image-example-container(info);
}

.ontario-image-example-container__hr {
	margin: $spacing-0 $spacing-0 $spacing-5 $spacing-0;
}

.ontario-image-example-container__hr--default {
	@include ontario-image-example-container-hr($ontario-colour-information);
}

.ontario-image-example-container__hr--do {
	@include ontario-image-example-container-hr($ontario-colour-success);
}

.ontario-image-example-container__hr--dont {
	@include ontario-image-example-container-hr($ontario-colour-alert);
}

.ontario-image-example-container__hr--info {
	@include ontario-image-example-container-hr($ontario-colour-information);
}
