/*
*  Global colour variables
*
*  1 - Greyscale colours
*  2 - System colours
*  3 - Accent colours
*    3.1 - Main
*    3.2 - Light
*    3.3 - Dark
*    3.4 - Callout backgrounds
*/
/*** 1 - Greyscale colours ***/
/*** 2 - System colours ***/
/*** 3 - Accent colours ***/
/* Main */
/* Light */
/* Dark */
/* callout backgrounds */
/* icon colours */
/* -------------------------------
    Global spacing variables
--------------------------------- */
/* -------------------------------
    Global font-weight variables
--------------------------------- */
.ontario-date__group {
  display: flex;
}
.ontario-date__group label {
  font-weight: 600;
}
.ontario-date__group input {
  margin-top: 1rem;
}

.ontario-date__group-input {
  display: flex;
  flex-direction: column;
  margin-right: 1.5rem;
}

.ontario-date--error input {
  border: 0.125rem solid #CD0000;
}