<div class="ontario-critical-alert" >
    <div class="ontario-row" style="margin: 0 !important;">
        <div class="ontario-column ontario-small-12" style="background-color: #FFD440 !important; margin: 0 !important;">
            <div class="ontario-critical-alert__body">
                <div class="ontario-critical-alert__icon">
                    {{{render '@icons-primary--ontario-icon-critical-alert-warning' }}}
                </div>
                {{#if en}}
                    <p><a href="#">COVID-19 State of emergency</a> extended until May 12, 2020. </p>
                {{/if}}
                {{#if fr}}
                    <p><a href="#">COVID-19 L'état d'urgence</a> est prolongé jusqu'au 12 mai 2020. </p>
                {{/if}}
            </div>
        </div>
    </div>
</div>
