@import '../footers.scss';

.ontario-footer--default {
	background-color: $ontario-colour-black;
	border-bottom: 4px solid $ontario-greyscale-70;

	&:before {
		background-size: 112.5rem;
		background-position: calc(50vw - 73.5rem) -64rem;

		@media screen and (min-width: $small-breakpoint) {
			background-size: 180rem;
			background-position: calc(50vw - 120rem) -106rem;
		}

		@media screen and (min-width: $medium-breakpoint) {
			background-size: 275rem;
			background-position: calc(50vw - 187rem) -160rem;
		}
	}
}

.ontario-footer--default:before {
	background-image: url('#{$logo-dir}/footer-default-supergraphic-logo.svg');
}
