/*
*  Global variables
*
*  Used across multiple components
*/
/* -------------------------------
    Global spacing variables
--------------------------------- */
/*
*  Global colour variables
*
*  1 - Greyscale colours
*  2 - System colours
*  3 - Accent colours
*    3.1 - Main
*    3.2 - Light
*    3.3 - Dark
*    3.4 - Callout backgrounds
*/
/*** 1 - Greyscale colours ***/
/*** 2 - System colours ***/
/*** 3 - Accent colours ***/
/* Main */
/* Light */
/* Dark */
/* callout backgrounds */
/* icon colours */
/* service ontario header colours */
/*** 1 - Breakpoint sizes for media queries ***/
/************************************************************
    The following styles up until the next comment for
    simple footer specific styles are shared with the
    expanded footer.

    Any style updates or additions will need to be
    replicated in the expanded-footer.scss file as well.
************************************************************/
.ontario-footer {
  color: #FFFFFF;
  margin-top: 5rem;
  padding: 4rem 0;
}

.ontario-footer .ontario-columns *:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 40em) {
  .ontario-footer:not(.ontario-footer--default) .ontario-columns:first-child {
    margin-bottom: 3rem;
  }
  .ontario-footer .ontario-footer__expanded-bottom-section .ontario-columns:first-child {
    margin-bottom: 0;
  }
}

.ontario-footer__links-container {
  list-style: none;
  margin: 0 0 1rem 0;
}
@media screen and (min-width: 73em) {
  .ontario-footer__links-container {
    margin-bottom: 0.5rem;
  }
}

.ontario-footer__links-container--inline {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@media screen and (min-width: 40em) {
  .ontario-footer__links-container--inline {
    flex-direction: row;
  }
}

.ontario-footer__links-container li {
  padding: 0.25rem 0;
}

.ontario-footer__link {
  color: #FFFFFF;
  display: inline-block;
  padding: 0.5rem 0;
  margin: 0;
  text-decoration: underline;
}
.ontario-footer__link:hover, .ontario-footer__link:focus {
  text-decoration: none;
}
.ontario-footer__link:visited, .ontario-footer__link:active, .ontario-footer__link:hover {
  color: #FFFFFF;
}
@media screen and (min-width: 40em) {
  .ontario-footer__link {
    padding: 0;
    margin: 0 3rem 1rem 0;
  }
}

/*************************************
    Simple footer specific styles
*************************************/
/* Supergraphic background */
.ontario-footer--default {
  position: relative;
  background-color: #1a1a1a;
  border-bottom: 4px solid #4d4d4d;
}
.ontario-footer--default:before {
  background-image: url("../logos/footer-default-supergraphic-logo.svg");
  background-size: 112.5rem;
  background-position: calc(50vw - 73.5rem) -64rem;
  background-color: #333333;
  background-repeat: no-repeat;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 40em) {
  .ontario-footer--default:before {
    background-size: 180rem;
    background-position: calc(50vw - 120rem) -106rem;
  }
}
@media screen and (min-width: 73em) {
  .ontario-footer--default:before {
    background-size: 275rem;
    background-position: calc(50vw - 187rem) -160rem;
  }
}