.ontario-input:focus, .ontario-input:active {
  box-shadow: 0 0 0 4px #009ADB;
  outline: 4px solid transparent;
  transition: box-shadow 0.1s ease-in-out;
}

.ontario-input {
  border: 2px solid #1a1a1a;
  border-radius: 4px;
  box-sizing: border-box;
  color: #1a1a1a;
  display: block;
  font-size: 1rem;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  margin: 0 0 2.5rem;
  max-width: 48rem;
  width: 100%;
  padding: 0.625rem 1rem;
  transition: box-shadow 0.1s ease-in-out;
}
.ontario-input--2-char-width {
  max-width: 8ex;
  max-width: 8ex;
}

.ontario-input--3-char-width {
  max-width: 10ex;
  min-width: 10ex;
}

.ontario-input--4-char-width {
  max-width: 12ex;
  min-width: 12ex;
}

.ontario-input--5-char-width {
  max-width: 14ex;
  min-width: 14ex;
}

.ontario-input--7-char-width {
  max-width: 17ex;
  min-width: 17ex;
}

.ontario-input--10-char-width {
  max-width: 23ex;
  min-width: 23ex;
}

.ontario-input--20-char-width {
  max-width: 41ex;
  min-width: 41ex;
}

.ontario-form-group:last-of-type {
  margin-bottom: 3rem;
}

.ontario-date__group {
  display: flex;
}
.ontario-date__group label {
  font-weight: 600;
}
.ontario-date__group input {
  margin-top: 1rem;
}

.ontario-date__group-input {
  display: flex;
  flex-direction: column;
  margin-right: 1.5rem;
}

.ontario-date--error input {
  border: 0.125rem solid #CD0000;
}