/*
*  Global variables
*
*  Used across multiple components
*/
/* -------------------------------
    Global spacing variables
--------------------------------- */
/*
*  Global colour variables
*
*  1 - Greyscale colours
*  2 - System colours
*  3 - Accent colours
*    3.1 - Main
*    3.2 - Light
*    3.3 - Dark
*    3.4 - Callout backgrounds
*/
/*** 1 - Greyscale colours ***/
/*** 2 - System colours ***/
/*** 3 - Accent colours ***/
/* Main */
/* Light */
/* Dark */
/* callout backgrounds */
/* icon colours */
/* -------------------------------
    Global font-weight variables
--------------------------------- */
/*** 1 - Breakpoint sizes for media queries ***/
/* -------------------------------
    Global letter-spacing variables
--------------------------------- */
/* Rem calc function */
/* -------------------------------
    Global line-height variables
--------------------------------- */
/* -------------------------------
    Global typography variables
--------------------------------- */
/* -------------------------------
    Focus placeholder variables
--------------------------------- */
/* -------------------------------
    Focus placeholder
--------------------------------- */
.ontario-input:focus, .ontario-input:active {
  box-shadow: 0 0 0 4px #009ADB;
  outline: 4px solid transparent;
  transition: box-shadow 0.1s ease-in-out;
}

/* -------------------------------
    Global font-size variables
--------------------------------- */
.ontario-input {
  border: 2px solid #1a1a1a;
  border-radius: 4px;
  box-sizing: border-box;
  color: #1a1a1a;
  display: block;
  font-size: 1rem;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  margin: 0 0 2.5rem;
  max-width: 48rem;
  width: 100%;
  padding: 0.625rem 1rem;
  transition: box-shadow 0.1s ease-in-out;
}
.ontario-input--2-char-width {
  max-width: 8ex;
  min-width: 8ex;
}

.ontario-input--3-char-width {
  max-width: 10ex;
  min-width: 10ex;
}

.ontario-input--4-char-width {
  max-width: 12ex;
  min-width: 12ex;
}

.ontario-input--5-char-width {
  max-width: 14ex;
  min-width: 14ex;
}

.ontario-input--7-char-width {
  max-width: 17ex;
  min-width: 17ex;
}

.ontario-input--10-char-width {
  max-width: 23ex;
  width: 100%;
}

.ontario-input--20-char-width {
  max-width: 41ex;
  width: 100%;
}

.ontario-form-group:last-of-type {
  margin-bottom: 3rem;
}
.ontario-form-group:last-of-type .ontario-checkboxes,
.ontario-form-group:last-of-type .ontario-radios {
  margin-bottom: 0;
}

.ontario-date__group {
  display: flex;
}
.ontario-date__group label {
  font-weight: 600;
}
.ontario-date__group input {
  margin-top: 1rem;
}

.ontario-date__group-input {
  display: flex;
  flex-direction: column;
  margin-right: 1.5rem;
}

.ontario-date--error input {
  border: 0.125rem solid #CD0000;
}